JWT_SECRET=438f921bc6958a7d23d8590c1e60f58204c92a10d9c4b7e8f12a93c4d5e6f78ajndfjkvbvbjhcxvbdjhvdxjkvdsdesfwesdsanszvkdxvfdxo
MONGODB_URI=mongodb://127.0.0.1:27017/
MONGODB_DB=fiscalflow
PORT=5000
CLIENT_URL=http://localhost:5173
MONGODB_DB=FiscalFLow
PYTHON_CMD=python

